p{
    padding: 0;
    margin: 0;
}
.infor-right{
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* padding-top: 24px; */
    padding: 24px;
    
}
#avatar{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    color: rgba(54,166,255,.53);
}
.infor-acc{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
#infor-text{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}
#name{
    font-size: 16px;
    font-weight: 700;
    color: #212121;
}
#phone, #email{
    font-size: 13px;
    letter-spacing: -.13px;
    color: #666666;
}
.file-shared{
    position: relative;
    margin-top: 20px;
    width: 100%;

}
.title{
    position: relative;
    width: 100%;
}
#name-file{
    float: left;
    font-size: 13px;
    letter-spacing: -.13px;
    color: #666666;
}
#icon{
    float: right;
    cursor: pointer;
}
#list-file{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    height: 84px;
    top: 10px;
}
#file{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    float: left;
    height: 28px;
}
#icon-pdf{
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
#name-pdf{
    font-size: 13px;
    color: rgb(29, 29, 211);
}
.title-img{
    width: 100%;
    margin-top: 20px;
    height: 15px;
}
#list-img{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}
#img{
    border-radius: 3px;
    width: 64px;
    height: 64px;
    overflow: hidden;
    margin-right: 5px;
    margin-top: 5px;
}