<div class="right">
    <div class="head-right">
        <div class="infor_1">
            <div id="avatar">
                <img src="../../../assets/Avatar/2.jpg" alt="">
            </div>
            <div id="content">
                <p id="name">Đỗ Xuân Dũng</p>
                <p id="status" >Hoạt động 12 phút trước</p>
            </div>
        </div>

        <div class="option">
            <img src="../../../assets/ICON/IconAppChat/4.svg" alt="">
            <img (click) = "showInfor()" [src]=" check == false ? '../../../assets/ICON/IconAppChat/5.svg' : '../../../assets/ICON/IconAppChat/6.svg'">
            <img src="../../../assets/ICON/IconAppChat/2.svg" alt="">
        </div>
    </div>
    <div class="body-right">
        <div class="massage_text">
           
        </div>
        <div class="infor" [hidden]= "check">
            <app-infor-box></app-infor-box>
        </div>
        <div class="type">
            <app-type-text></app-type-text>
        </div>
    </div>
</div>